---
import Base from '../layouts/Base.astro';
import SiteLayout from '../layouts/SiteLayout.astro';
import DecorBanner from '../components/DecorBanner.astro';
---
<Base>
  <SiteLayout>
    <Fragment slot="decor"><DecorBanner /></Fragment>

    <h1 class="text-3xl font-extrabold font-display">About</h1>
    <!-- contenido -->
  </SiteLayout>
</Base>
