---
import '../styles/global.css';
---
<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <slot name="head" />
  </head>
  <body class="bg-[#0b0b12] text-white antialiased">
    <slot />
  </body>
</html>
